footer {
  padding: $spacing-lg 0 $spacing-lg;
  margin: $spacing-lg 0 $spacing-sm;
  background: $djnl-black;
  color: $djnl-white;

  h5 {
    text-transform: uppercase;
    font-weight: $font-weight-light;
  }

  p {
    font-weight: $font-weight-light;
  }

  span {
    text-transform: uppercase;
    color: $djnl-purple;
    font-weight: $font-weight-semibold;
    margin: 0;
  }
}

.credits {
  color: $djnl-grey;
}
