.branding {
  padding-bottom: $spacing-sm;
}

.swatches {
  list-style: none;
  margin: 0 0 $spacing-md;
  padding: 0 0 0 $spacing-xs;

  li {
    display: block;
    float: left;
    height: 5px;
    margin-right: 2px;
    width: 48px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;

    &.blue {
      background: $djnl-blue;
    }

    &.green {
      background: $djnl-green;
    }

    &.pink {
      background: $djnl-pink;
    }

    &.orange {
      background: $djnl-orange;
    }

    &.grey {
      background: $djnl-grey;
    }

    &:hover {
      height: 10px;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -ms-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease;
    }
  }
}

.logotype {
    display: block;
    margin: $spacing-sm/2 0 0;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;

  &:hover {
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }

  img {
    width: 100%;
    max-width: 500px;
  }
}

.social-media {
  margin: $spacing-md $spacing-xs 0;
  float: left;

  li {
    display: inline;
    list-style: none;
    margin: 0 $spacing-xs/2 0;
  }

  img {
    height: 48px;
    width: 48px;
  }

  a {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;

    &:hover {
      -webkit-opacity: 0.5;
      -moz-opacity: 0.5;
      opacity: 0.5;
      -webkit-transition: all .5s ease;
      -moz-transition: all .5s ease;
      -ms-transition: all .5s ease;
      -o-transition: all .5s ease;
      transition: all .5s ease;
    }
  }
}

.search {
  float: right;
}

.nav-primary {
  margin: 0;
  background: none;
  text-transform: uppercase;
  font-size: 2em;

  ul {
    display: block;
    clear: both;
    width: auto;
    margin: 0;
  }

  li {
    margin: 0 $spacing-lg*1.5 0 0;
    text-align: left;
    display: inline;
    float: left;

    a {
      font-weight: $font-weight-light;
      color: $djnl-blue;

      &:hover {
        border-bottom: 2px solid $djnl-blue;
        text-decoration: none;
      }
    }
  }
}
