# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
dist
bower_components
node_modules
npm-debug.log
.env
backups/database.sql
backups/wp-content/*
!backups/wp-content/.gitkeep
theme/*
!theme/.gitkeep
docker-data
