// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Spacing
$spacing-xs:            6px;
$spacing-sm:            12px;
$spacing-md:            24px;
$spacing-lg:            48px;

// Colors
$brand-primary:         #27ae60;

$purple:                #9d00ff;

$blue:                  #37bbff;
$green:                 #74c707;
$pink:                  #ff09de;
$orange:                #ff4c06;
$grey:                  #636363;

$white:                 #fff;
$grey-light:            #e1e1e1;
$black:                 #363636;


// Typography
$museo:                 "museo-sans", sans-serif;

$bold:                  600;
$semibold:              400;
$font-light:            200;
