footer {
  padding: $spacing-lg 0 $spacing-lg;
  margin: $spacing-lg 0 $spacing-sm;
  background: $black;
  color: $white;

  h5 {
    text-transform: uppercase;
    font-weight: $font-light;
  }

  p {
    font-weight: $font-light;
  }

  span {
    text-transform: uppercase;
    color: $purple;
    font-weight: $semibold;
    margin: 0;
  }
}

.credits {
  color: $grey;
}
