.sidebar-posts {
  margin: $spacing-sm 0;
  padding: $spacing-md $spacing-md 0;
  border: 1px solid $grey-light;

  h4 {
    font-weight: $font-light;
    text-transform: uppercase;
    margin: 0 0 $spacing-md 0;

    a {
      color: $blue;
    }
  }

  .btn-arrow {
    margin: -1px 0 0;
    font-weight: $bold;
    float: right;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    margin: 0 0 $spacing-md 0;
  }

  .thumbnail {
    height: 110px;
    overflow: hidden;
    clear: both;
  }

  img {
    width: 100%;
    height: auto;
    margin-top: -25%;
  }

  a {
    color: $grey;

    &:hover {
      color: $blue;
      text-decoration: none;
    }
  }

  h6 {
    font-style: normal;
    font-weight: $semibold;
    margin: $spacing-xs 0 0;
    text-transform: uppercase;
  }

  p {
    margin: 0;
    font-weight: $font-light;
    font-size: .9em;
  }
}
