.btn-search,
.btn-concierge {
  border: 0;
  cursor: pointer;
}

.btn-search {
  background: $djnl-orange;
  color: $djnl-white;
  display: block;
  float: left;
  font-weight: $font-weight-bold;
  margin: $spacing-md $spacing-sm 0;
  padding: $spacing-sm/1.5;
  text-decoration: none;
  text-transform: uppercase;

  img {
    height: 32px;
    width: auto;
  }

  &:hover {
    color: $djnl-white;
    text-decoration: none;
  }
}

.btn-concierge {
  background: $djnl-grey;
  color: $djnl-white;
  display: block;
  float: left;
  font-weight: $font-weight-bold;
  margin: $spacing-md 0 0;
  padding: $spacing-sm/1.5;
  text-transform: uppercase;

  img {
    height: 32px;
    width: auto;
  }

  &:hover {
    color: $djnl-white;
    text-decoration: none;
  }
}

.site-search {
  clear: both;
  margin-top: $spacing-sm;
  padding-top: $spacing-sm;
}
